extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style 
      include ../static/style.css
      include ../static/styleAbout.css

block content
        .container
            .col
              img(src='/static/img/about.jpg', alt='terence lewis dance training institute in mumbai')
            .col
                p
                  | The&nbsp;Nacho Dance Academy&nbsp;(voted India&rsquo;s Number 1 dance company) and the&nbsp;Nacho Professional Training Institute&nbsp;are widely-acknowledged as the country&rsquo;s most popular and reputed dance organisations.
                  | Together with the Nachos Dance Scholarship Foundation Trust, they make up the TL brand, which fosters creative Together with the Nachos Dance Scholarship Foundation Trust, they make up the TL brand, which fosters creative excellence in the talented, enthusiastic dancer (or aspiring dancer), raising the standards of dance in India and beyond.
                  | We work together, towards professional excellence in exploring dance in various forms such as educational, research, artistic and commercial ventures. We constantly strive for efficiency and customer satisfaction.as educational, research, artistic and commercial ventures. We constantly strive for efficiency and customer satisfaction
                  | Our talented team of professional dancers and instructors have all been handpicked and personally trained by our founders Terence Lewis and Mahrukh Dumasia; and receive ongoing coaching and regular assessments to ensure that that their skills are up-to-date.