@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 0 12px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    font-family: 'Bree Serif', serif;
    background-color: rgb(74, 68, 68);
    padding: 6px 6px;

}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#navbar li{
    
    list-style: none;
}
#navbar li a{
    color: white;
    text-decoration: none;
    padding: 3px 20px;
    font-size: 24px;
}
#navbar li a:hover{
    color: black;
}
#introsection{
    font-family: 'Bree Serif', serif;
    display: flex;
    color: rgb(239, 230, 230);
    flex-direction: column;
    justify-content: center;
    font-size: 60px;
    align-items: center;
    height: 450px;
    background: url("/static/bg.jpg") center/cover no-repeat;
    /* background-color: red; */
    /* opacity: 0.6; */

}
#introsection div.small{
    font-size: 52px;
    padding: 2px;
}
#missionsection{
    /* background-color: #c78f8f; */
    height: 300px;
    margin: auto;
    width: 67%;
}
#missionsection h2{
    font-family: 'Bree Serif', serif;
    font-size: 34px;
    text-align: center;
    padding-top: 12px;
}
.card{
    font-family: 'Baloo Bhai 2', cursive;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    width: 30%;
    margin: 13px 10px;
    height: 200px;
}
.card h3{
    text-align: center;
    margin: 12px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 130px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit;
}
.card-content{
    padding: 0 10px;
}
.card-content p{
    font-size: 18px;
}

#sponsersection{
    height: 300px;
    background-color: #f6bebe;
}
#sponsersection{
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    text-align: center;
    padding: 12px;
}
#sponsers{
    height: 190px;
    max-width: 1000px;
    margin: 27px auto;
}
.spImage{
    height: 80%;
    margin: 20px;
}

#footer{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 60px;
    background-color: black;
}